/HybridTestFramework/.vs/HybridTestFramework/config
/HybridTestFramework/.vs/HybridTestFramework/copilot-chat/c4c1a80b/sessions
/HybridTestFramework/.vs
/HybridTestFramework/ApiTests/obj
/HybridTestFramework/FrameworkTests/obj
/HybridTestFramework/MobileTests/obj
/HybridTestFramework/TestCore/bin
/HybridTestFramework/TestCore/obj
/HybridTestFramework/WebTests/bin
/HybridTestFramework/WebTests/obj
/HybridTestFramework/WindowsTests/obj
/HybridTestFramework/FrameworkTests/bin
/HybridTestFramework/ApiTests/bin
/HybridTestFramework/MobileTests/bin
/HybridTestFramework/WindowsTests/bin
HybridTestFramework/WebTests/Features/AddToCart.feature.cs
HybridTestFramework/WebTests/Features/AddToCart.feature.cs
HybridTestFramework/WebTests/Features/Login.feature.cs
